.hidden {
    display: none;
}

h1 {
    text-align: center;
}

header {  
    text-align: center;
    margin-bottom: 2rem;
    background-color: black;
    width: 100%;
    color: white;
}

body {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: silver;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.inputs-row {
    display: grid;
    grid-template-columns: auto 1fr;
}

/*Split the view between calculator and history like in calculator apps*/
.calculator-container {
    width: 50%;
}

.history-container {
    width: 50%;
}

/*align the number inputs with the operator to the left of the second number much like doing it by hand*/
.indented-input {
    grid-column: 2;
    width: 50%;
}

#operator {
    grid-column: 1;
}

.calculator-container input[name="num2"] {
    grid-column: 2;
    width: 50%;
}


br {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer a {
    position: absolute;
    top: 0;
    left: 0;
}